body {
  background: #555;
}

.mode-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.sin, .cos, .tan {
  cursor: pointer;
  fill: #f9f9f9;
}

.cos, .tan {
  display: none;
}

.sin:hover, .cos:hover, .tan:hover {
  fill: #555;
}

.button-back {
  fill:#555
}

.button-back:hover, .sin:hover > .button-back, .cos:hover > .button-back, .tan:hover > .button-back {
  fill:#00FFCE;
}