* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  color: #533d24;
}

body {
  background-color: #fcfcfc;
  padding-bottom: 100px
}

.divider {
  margin: 20px 0;
  border-bottom: 4px solid #a87b48;
}

.wrapper {
  position: relative;
  padding-top: 25px;
  display: flex;
  align-items: end;
  width: 100%;
  background: #ffd978;
}

.social-wrapper {
  position: absolute;
  z-index: 20;
  top: -25px;
  right: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: max-content;
  padding: 0 35px 0 25px;
  height: 50px;
  background: white;
  border-bottom: #a87b48 2px solid;
  border-left: #a87b48 2px solid;
  border-right: #a87b48 2px solid;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.social-path {
  fill: #A87B48;
}

.social-path:hover { 
  fill: #49351e;
}

.wrapper-lines {
  flex-grow: 1;
  margin-top: 25px;
  border-bottom: 4px solid #a87b48;
}

.wrapper-lines-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 144px;
  flex-grow: 1;
}

.paper-header, .paper-body {
  position: relative;
  z-index: 10;
  max-width: 768px;
  background:white;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  border-bottom: #ffd978 4px solid;
  box-shadow: 0px 0px 10px 0px rgba(29, 7, 0, 0.1 );
}

.paper-header {
  border-top-left-radius: 50px;
}

.paper-body {
  padding-bottom: 50px;
  /* border-bottom-right-radius: 25px; */
}

.header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 25px 0 0 0;
}

.header-title-wrapper {
  display: flex;
  flex-direction: column;
}

.header-subtitle, .pronouns {
  color:#886134;
}

.pronouns {
  margin-left: 5px;
  font-size: 1rem;
  font-weight: 600;
}

.header-contact {
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: center;
}

.header-contact-item a, .header-contact-item a:visited, .header-contact-item a:active {
  color: #533d24;
  
}

.section {
  margin: 10px 0 0 0;
}

.section-title {
  text-align: center;
}

.skill-title {
  border-bottom: 2px solid #a87b48;
  margin-top: 15px;
  width: max-content;
}

.section-text {
  line-height: 20px;
  margin: 10px 0 0 0;
}

.skill-list {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}

.skill-list-item {
  list-style: none;
  padding: 0px 10px 0 0;
}

.link {
  font-weight: bold;
}

.job {
  margin: 20px 0 0 0;
}

.job-title {
  display: inline-block;
  min-width: 1px;
  width: auto;
  border-bottom: 2px solid #a87b48;
  max-width: 100%;
}

.job-issuer {
  margin-top: 5px;
}

.job-details {
  margin: 5px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  font-style: italic;
}

.job-list {
  list-style: none;
  margin: 10px 0 0 15px;
}

.job-list-item::before {
  position: relative;  
    content: "•";
    color: #865f31;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }


.job-list-item {
  padding-left: 0px;
  margin-top: 4px;
  font-size: .9rem;
}

/* 'xs': '425px' */
@media (min-width: 425px) {
  .job-details {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* 'sm': '640px', */
@media (min-width: 640px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  .header-contact {
    text-align: right;
  }
  .paper-header, .paper-body {
    padding: 25px;
  }
  .header-title-wrapper {
    flex-direction: row;
    align-items: baseline;
  }
}

/* 'md': '768px', */
@media (min-width: 768px) {
  .social-wrapper {
    padding: 0 25px 0 25px;
  }
}

/* 'lg': '1024px', */
@media (min-width: 1024px) {
}

/* 'xl': '1280px', */
@media (min-width: 1280px) {
}

/* '2xl': '1536px', */
@media (min-width: 1536px) {
}