* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  color: #49351e;
}

.wrapper {
  padding-top: 25px;
  display: flex;
  align-items: end;
  width: 100%;
  background: #ffd978;
}

.wrapper-lines {
  flex-grow: 1;
  margin-top: 25px;
  border-bottom: 4px solid #66562a;
}

.paper {
  max-width: 700px;
  background:white;
  padding: 20px 20px 20px;
  width: 100%;
  border-bottom: #ffd978 4px solid;
  margin: 0 auto;
  box-shadow: 0px 0px 10px 0px rgba(29, 7, 0, 0.1 );
}

.header {
  display: flex;
  margin: 25px 0 0 0;
  justify-content: space-between;
}

.header-contact {
  text-align: right;
}

.section {
  margin: 25px 0 0 0;
}

.section-text {
  margin: 10px 0 0 0;
}

.skill-title {
  margin-top: 15px;
}

.skill-list {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}

.skill-list-item {
  list-style: none;
  
  padding: 0 10px 0 0;
  /* border-left: 1px solid #49351e; */
}

.link {
  font-weight: bold;
}
