.module-parent, .module-parent-teal {
    grid-template-columns: 1fr;
    display: grid;
    position: relative;
    height: 400px;
    width: 100%;
}

.content-box-one, .content-box-two, .content-box-three {
    height: 300px;
    background: #f5f3e6;
    box-shadow: 2px 2px 0 2px rgba(0, 0, 0, 0.1);
    grid-column: 1 / span 2;
    grid-row: 1;
    z-index: 10;
    margin: auto 0;
}

.content-box-two {
    grid-column: 1;
}

.canvas {
    z-index: -1;
    top:0;
    left: 0;
    right: 0;
    height: 400px;
    bottom: 0;
    position: absolute;
}

.triangle-one, .triangle-four {
    z-index: 0;
    height: 400px;
    position: absolute;
    top:0;
    right: 0;
}
.triangle-two {
    position: absolute;
    left: 0;
}
.triangle-three {
    display: none;
    height: 400px;
    position: absolute;
    right: 0;
    top: 0;
}

.margin-green {
    grid-row: 1;
    display: none;
    background: #86f5ab;
    height: 100%;
    width: 100%;
}

.margin-teal {
    grid-row: 1;
    display: none;
    background: #76cfcf;
    height: 100%;
    width: 100%;
}

.margin-teal-one {
    grid-column: 1;
}
.margin-teal-one {
    grid-column: 3;
}

.left, .center {
    grid-row: 1;
    position: relative;
}

.left {
    grid-column: 1;
    /* background: #b0f7c7; */
}
.center {
    grid-column: 1;
    /* background: #93eeee; */
}

.project-wrapper {
    margin-left: auto;
    margin-top: 0px;
    padding: 15px;
    font-family: "arboria", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    max-width: 400px;
}

.project-center {
    margin-left: 0;
}



/* 'xs': '425px' */
@media (min-width: 425px) {
}

/* 'sm': '640px', */
@media (min-width: 640px) {
    .module-parent, .module-parent-teal {
        grid-template-columns: 1fr 640px 1fr;
    }
    .left {
        grid-column: 1 / 3;
    }
    .center {
        grid-column: 2 / 3;
    }
    .margin-green, .margin-teal {
        display: block;
    }
    .triangle-three {
        display: block;
        left: calc(640px - 273px);
    }
    .content-box-two {
        grid-column: 2 / span 3;
    }

    .project-wrapper {
        max-width: 450px;
    }
}

/* 'md': '768px', */
@media (min-width: 768px) {
}

/* 'lg': '1024px', */
@media (min-width: 1024px) {
    .project-wrapper {
        max-width: 650px;
    }
}

/* 'xl': '1280px', */
@media (min-width: 1280px) {
}

/* '2xl': '1536px', */
@media (min-width: 1536px) {

}