/* Cleaning up CSS for pages not build with all the tutorial CDNs */
.clean-nav {
  border-bottom: 1px solid rgb(201, 201, 201);
}

.coding-wrapper {
  width: 90%;
  margin: 25px auto 15px;
  text-align: center;
}

.coding-heading {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.coding-wrapper p {
  margin: 0 auto;
  max-width: 730px;
}

.coding-link, .coding-link:active, .coding-link:visited {
  text-decoration: underline;
  font-weight: 600;
  color: #8ac756;
}

.coding-link:hover {
  color: #a7e96d;
}

.coding-cards {
  margin-top: 30px;
}

.coding-card {
  display: flex;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin: 5px auto 20px;
}

.coding-card:hover {
  background: #f5f5f5;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.coding-image {
  object-fit: cover;
  background-repeat: no-repeat; 
  width: 100px;
  background-position: 50% 50%;
  /* flex-shrink: 0; */
}

.coding-image svg {
  stroke: #8ac756;
}

.coding-content {
  flex-grow: 1;
  padding: 20px;
  /* padding-left: 20px; */
}
.coding-content span {
  font-size: 1.25rem;
  font-weight: 600;
  /* display: block; */
  margin-bottom: 0px;
  text-decoration: underline;
  /* padding-left: 20px; */
}



/*---Tailwind Media Queries --*/

/* 'sm': '640px', */
@media (min-width: 640px) {
  .coding-heading {

    font-size: 2.5rem;

  }
}

/* 'md': '768px', */
@media (min-width: 768px) {
  .coding-card {
    max-width: 768px;
    border-radius: 5px;
  }
}

/* 'lg': '1024px', */
@media (min-width: 1024px) {
}

/* 'xl': '1280px', */
@media (min-width: 1280px) {
}

/* '2xl': '1536px', */
@media (min-width: 1536px) {
}
