* {
    box-sizing: border-box;
    font-family: monospace;
    margin: 0;
}

body {
    color: red;
    background: rgb(239, 241, 217);
}

.page {
    padding-top: 20px;
    border: 1px solid green;
    display:block;
    height: calc(100vh - 4rem);
}

.head {
    display: block;
    width: 100%;
    height:4rem;
    background: gray;
    border-top: 8px salmon solid;
    border-bottom: 8px salmon solid;
}

.results {
    margin-top: 5px;
}

.head-content {
    margin-top: -4px;
    text-align: center;
    width: 100%;
    color: white;
 
    font-size: 2.75rem;
}

.problem {
    border:1px solid red;
    /* height: 100px; */
    margin: 0 auto 20px;
    width: 80%;
    max-width: 1000px;
    box-shadow: 0px 4px 4px rgba(250, 128, 114, 0.5);
}

.prob-head {
    text-align: center;
    font-size: 2rem;
    background: rgb(228, 228, 228);
    border-bottom:1px solid rgb(0, 204, 255);
    height: 40%;
}

.prob-body {
    display: block;
    padding: 10px;
    background: rgb(255, 219, 219);
    height: 60%;
}

.results {
    display: inline-block;
}

#clear {
    display: none;
}

.test-hr {
   margin: 15px 0 10px;
   border: 1px solid rgba(255, 0, 0, 0.363);
}

/* wrapper class to keep all content equal distance from edges */
.wrapper {
    border: 1px black solid;
    margin: 0 auto;
    padding: 0 10px;
    width: 95%;
  }
  
  /* Here we have the wrapper expand on larger screens */
  @media screen and (min-width: 1024px) {
      .wrapper {
        border: 1px solid red;
        padding: 0 20px;
        width: 80%; 
    }
  }