body {
    background-color: #60bb89;
}

.banner {
    height: 200px;
    background: white;
}

.nav {
    display: block;
    position: relative;
    height: 50px;
    width: 100%;
}

.nav {
    position: relative;
    width: 100%;
    height: 50px;
}

.titles {
    display: block;
    line-height: 50px;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    cursor: pointer;
}


.titles {
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    
}

.title {
    color: rgb(255, 247, 255);
    width: 50%;
    text-align: center;
}

.bgs {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 50px;
    justify-content: space-around;
}

.bg {
    background-color: #60bb89;
    width: 50%;
    height: 50px;
    text-align: center;
    transition: width 0.5s;
}


.bg:first-child {
    position:relative;
    background-color: blueviolet;
}

.bg:first-child:after {
    content: "";
    position: absolute;
    top: 0;
    right: -25px;
    width: 0;
    height: 0;
    z-index: 1;
    border-top: 50px solid blueviolet;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}

/* When you hover over a .title have a .bg hightlight */
.title:first-child:hover ~ .bgs .bg:first-child {
    width: 60%;
}

.title:nth-child(2):hover ~ .bgs .bg:nth-child(2) {
    width: 60%;
}