* {
    box-sizing: border-box;
    transition: all 0.05s ease;
}

h4 {
    margin-bottom: 0px;
}

.header {
    background: url("../img/logo.jpg");
    background-size: 100%;
    height: calc(100vw * .125);
    width: 100%;
    
}

.intro {
    display: block;
    width: 95%;
    margin: 0 auto 10px;
}

.menu {
    padding-top: 15px;
    background: white;
    width: 100%;
    height: 150px;
    margin-bottom: 5px;
}

.menu-list {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-item {
    margin: 0px 25px 10px;
    padding: 5px 10px;
    display: block;
    background: white;
    border-radius: 5px;
    box-shadow: 0 5px 4px 0 rgba(189, 0, 192, 0.7),
    4px 8px 3px 0 rgba(0, 247, 255, 0.699);
    
}

.menu-item:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 5px 0 rgba(189, 0, 192, 0.7),
    5px 4px 2px 0 rgba(0, 247, 255, 0.699);
}

.menu-item a {
    text-decoration: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.5rem;
}

.wrapper {
    height : 100vh; 
    display: grid;
    grid-template-columns: 0fr 1fr 0fr;
}

.flex-grid {
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.flex-item {
    display: block;
    height: 125px;
    width: 125px;
    margin: 5px;
    border: 1px solid black;
    box-shadow: 0 0 5px black;
}

.hotdogger {
    background: url(../img/grid_hd.png);
    background-size: 250px;
}

.picture-grid {
    border: 5px solid rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255);
    height: 300px;
}

.grid-one {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.747) 25%, rgba(182,9,255,0) 50%), url("../img/grid_hd.png"); 
    background-size: 100%;
}

.grid-one:hover {
    text-shadow: -4px 2px 4px  rgb(206, 2, 206, .6),
    0px -2px 4px rgb(1, 197, 223);
}

.body-hd {
 font-size: 1.25rem;
}


.grid-title, .grid-body {
    color: black;
    padding-left: 10px;
    font-family: monospace;
    font-weight: bold;
}

.grid-title {
    padding-top: 45%;
    text-align: left;
    font-size: 2.75rem;
}

.grid-body {
    font-size: 1.1rem;
}

a {
    text-decoration: none;
}

/* Smartphones (portrait) + Tablet ----------- */
@media only screen 
and (min-width : 700px) {
    .menu {
        background: rgb(255, 102, 102);
        
    }
    .center-grid {
        grid-template-columns: 1fr 1fr;
    }
    .picture-grid {
        height: 250px;
    }
}

/* Desktop ----------- */
@media only screen 
and (min-width : 1020px) {
    .menu {
        background: rgb(173, 247, 55);
    }
    .center-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .picture-grid {
        height: 250px;
    }
}